[submodule "pyjsparser"]
	path = pyjsparser
	url = https://github.com/PiotrDabkowski/pyjsparser
[submodule "pyesprima"]
	path = pyesprima
	url = https://github.com/kasselTrankos/pyesprima
[submodule "sublimetext-codeformatter"]
	path = sublimetext-codeformatter
	url = https://github.com/akalongman/sublimetext-codeformatter
