[submodule "js-beautify"]
	path = js-beautify
	url = https://github.com/beautify-web/js-beautify
[submodule "astParser"]
	path = astParser
	url = https://github.com/kasselTrankos/astParser
[submodule "pyesprima"]
	path = pyesprima
	url = https://github.com/kasselTrankos/pyesprima
[submodule "toolz"]
	path = toolz
	url = https://github.com/pytoolz/toolz
[submodule "python-jsonpath-rw"]
	path = python-jsonpath-rw
	url = https://github.com/kennknowles/python-jsonpath-rw
[submodule "ply"]
	path = ply
	url = https://github.com/dabeaz/ply
[submodule "dpath-python"]
	path = dpath-python
	url = https://github.com/akesterson/dpath-python
[submodule "ObjectPath"]
	path = ObjectPath
	url = https://github.com/adriank/ObjectPath
[submodule "jmespath.py"]
	path = jmespath.py
	url = https://github.com/jmespath/jmespath.py
