[submodule "js-beautify"]
	path = js-beautify
	url = https://github.com/beautify-web/js-beautify
[submodule "astParser"]
	path = astParser
	url = https://github.com/kasselTrankos/astParser
[submodule "pyesprima"]
	path = pyesprima
	url = https://github.com/kasselTrankos/pyesprima
[submodule "toolz"]
	path = toolz
	url = https://github.com/pytoolz/toolz
